PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://niganzealain_db_user:UnR96VhintPrzyCe@cluster0.tf1qxif.mongodb.net/?appName=Cluster0
JWT_SECRET=change_this_to_a_strong_secret
RATE_LIMIT_MAX=100


